.revol{
    background: -webkit-linear-gradient(red, orange,yellow, green,blue,indigo,violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 45px ;
    left: 15% ;
    position: fixed;
    min-width: 60% ;
}

hr{
    margin-top: 15px;
}

.img-mng{
    text-decoration: underline ;
}
.main_nav a{
    
    padding: 10px ;
    font-size: 30px ;
}
body{
    color:black ; 
    background:linear-gradient(to left, yellow 30%,white 70%);
    font-family: 'Indie Flower', cursive;
}

.logo_git{
    max-width: 10%;
    max-height: 13%;
    position: fixed;
    
}

.navbar-nav {
    position: fixed;
    top: 1%;
    left: 85%;
    margin: 10px;
    text-decoration: none ; 
}
.about_us {
    padding-top: 40px;
}

.navigation a{
    color: black;
}

.navigation:hover, .navigation:focus{
    color: black;
    text-decoration: none;
    background-color: #FFFA84;
    border:3px red ridge ;
    border-radius: 10px;
    padding: 0px;
}

.acc_logo{
    position: fixed;
    border: 5px black solid ;
    border-radius: 15px;
    position: fixed;
    top: 10%;
    left: 3%;
    min-width: 10%;
    min-height: 17%;
    max-width: 15% ;
    max-height: 27%;

}

 .acc_name{
    position: fixed;
    top: 10%;
    left: 23%;
    font-size: 25px;
} 

.blog-div{
    position: relative;
    left:5%;
    width: 70%;
    margin-top: 15px ;
    font-size: 20px;
    
}

.tabloid{
    border: 3px black solid;
    border-radius: 10px;
    width: 40%;
    height: 20% ;
    padding:5px ;
    margin-bottom: 10px;
    margin-top: 10px ;
}
.used-images{
    max-width: 30%;
    max-height: 30%;
    
}

.tabl{
   padding: 0px auto ;
   margin: 0px auto;
   margin-right: 2px ;
   margin-bottom: 5px ;
   text-align: center;
   padding-right:5px;
   padding-left: 5px ;

}

.prew{
    margin-top: 5px;
}

.inner-tabloid{
    max-width: 100%;
}

.manage-bt{
    margin-left: 15px ;
}

.im_g{
    width: 30% ;
    height:30%;
    margin-top: 10px ; 
    border: 1px black solid;
    border-radius: 5px;
} 

.arr{
    max-width: 2%;
    max-height: 2%;
}

.back{
    text-decoration: none;
}

.table{
    width: 45%;
    margin-top: 10px;
}