nav a{
    text-decoration: none ;
    color: black ;
    padding: 10px ;
}
body{
    color:black ; 
    background:linear-gradient(to left, yellow 30%,white 70%);
}

.logo_git{
    position: fixed;
    
}