a{
    text-decoration: none ; 
    color: black ;
}

nav.main_nav a{
    
    padding: 10px ;
    font-size: 30px ;
}
body{
    color:black ; 
    background:linear-gradient(to left, yellow 30%,white 70%);
    font-family: 'Calistoga', cursive;
}

.logo_git{
    position: fixed;
    
}

.navbar-nav {
    position: fixed;
    top: 1%;
    left: 85%;
}
.about_us {
    padding-top: 40px;
}

nav.main_nav a:hover{
    background-color: #FFFA84;
    border:3px red ridge ;
    border-radius: 10px;
}

.acc_logo{
    border: 5px black solid ;
    border-radius: 15px;
    position: fixed;
    top: 10%;
    left: 3%;
    width: 185px; 
    height: 200px ;
}

 .acc_name{
    position: fixed;
    top: 10%;
    left: 23%;
    font-size: 25px;
} 

.blog-div{
    position: relative;
    left:5%;
    width: 40%;
    margin-top: 15px ;
    font-size: 20px;
}

.tabloid{
    
    border: 3px black solid;
    width: 40%;
    height: 20% ;
    padding:5px ;
    margin-bottom: 10px;
}
.used-images{
    width: 30%;
    height: 30%;
    
}

.tabl{
   padding: 0px auto ;
   margin: 0px auto;
   margin-right: 2px ;
   margin-bottom: 5px ;
   text-align: center;
   padding-right:5px;
   padding-left: 5px ;

}

.prew{
    margin-top: 5px;
}

.inner-tabloid{
    /* border: 1px black solid; */
    max-width: 100%;
}
