body {
    background-color: #f0fff7;
    font-family: 'Indie Flower', cursive;
    color: black;
}

.centered {
    text-align: center;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.pr-name {
    font-size: 25px;
}

.content {
    margin-top: 15px;
}

.site-name {
    font-size: 2rem;
}

.site-nvg {
    font-size: 2rem;
}

.header {
    font-size: 20px;
}

.arr {
    max-width: 5%;
}

.logo_git {
    max-width: 10%;
    position: absolute;
}

.used-images {
    max-width: 20%;
}

table,
tr,
th {
    border: 1px black solid;
}

#c1 {
    top: 40%;
    left: 10%;
}