body {
    background-color: #f0fff7;
    font-family: 'Indie Flower', cursive;
    color: black;
}

.centered {
    text-align: center;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.pr-name {
    font-size: 25px;
}

.content{
    margin-top:15px;
}

.site-name{
    font-size: 2rem ; 
}
 .site-nvg{
     font-size: 2rem;
 }
.header {
    font-size: 20px;
}

.ctrl-area{
    min-width: 100%;
}
.ctrl-btn{
    position: relative;
}
.imCard{
    margin: 5px;
}